<h2>Home</h2>
<p>Landing page stuff goes here...</p>

<div class="bg-white h-96">
  <div class="h-8 bg-test"></div>
  <div class="h-8 bg-test-hex"></div>
  <div class="h-8 bg-black"></div>
  <div class="h-8 bg-bg"></div>
  <div class="h-8 bg-accent-bg"></div>
  <div class="h-8 bg-text"></div>
  <div class="h-8 bg-text"></div>
  <div class="h-8 bg-text-light"></div>
  <div class="h-8 bg-border"></div>
  <div class="h-8 bg-accent"></div>
  <div class="h-8 bg-code"></div>
  <div class="h-8 bg-preformatted"></div>
  <div class="h-8 bg-marked"></div>
  <div class="h-8 bg-disabled"></div>
</div>
